body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
}

#logo {
  background-color: blue;
  width: 8%;
  animation-name: slidedown;
  animation-duration: 1.6s;
  border-radius: 20%;
}
#logo img {
  width: 100%;
  border-radius: 20%;
}

nav {
  margin: 0;
  padding: 1%;
  height: auto;
  width: 100%;
  background-color: blue;
}

nav ul {
  text-align: center;
  margin-top: -5%;
  animation-name: slideright;
  animation-duration: 1.6s;
}

nav ul li {
  display: inline;
  margin: 2%;
  font-size: x-large;
  line-height: 4vh;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

/*hero section*/

#hero {
  position: relative;
  text-align: center;
  color: #ffffff;
  background-image: url("./images/WhatsApp\ Image\ 2025-07-30\ at\ 12.32.32_66f634d0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  animation: slideUp;
  animation-duration: 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#hero-text {
  position: relative;
  width: 60%;
  z-index: 2;
  animation-name: slidedown;
  animation-duration: 1.6s;
}

#hero-text h2 {
  font-size: 2.7em;
  margin-bottom: 1em;
}

#hero-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5vh;
  row-gap: 5vh;
}

#hero-button button {
  padding: 4%;
  background-color: rgb(54, 54, 182);
  border-style: hidden;
  color: #ffffff;
  border-radius: 10%;
}

#hero-button button:hover {
  border-radius: 20%;
  background-color: blue;
  transition: 0.5s ease-in-out;
}

/*Animations */
@keyframes slideUp {
  from {
    transform: translateY(200%);
  }
}

@keyframes slidedown {
  from {
    transform: translatey(-200%);
  }
}

@keyframes slideleft {
  to {
    transform: translatey(100%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(100%);
  }
}

@media (max-width: 750px) {
  nav ul li {
    margin: 2%;
  }

  #hero {
    background-image: url("images/mobile\ hero.jpg");
  }
  #hero::before {
    background: rgba(0, 0, 0, 0.5);
  }

  #hero-text {
    margin-top: -25%;
  }
  #hero-text h2 {
    font-size: 2.2rem;
  }
}

/* Footer */
footer {
  background-color: #111;
  color: #ccc;
  padding: 2em 0;
  text-align: center;
  font-size: 0.9em;
}

footer i {
  font-size: calc(2rem + 2vh);
  margin: 1rem;
}
