/* styles.css */

body {
  font-family: "Poppins", sans-serif;
  background: #182023;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.container {
  background: #222;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.6);
  max-width: 500px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.success {
  color: #32cd32; /* lime green */
}

.failed {
  color: #ff4c4c; /* red */
}

button {
  margin-top: 30px;
  background-color: #ffd700;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #222;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffbf00;
}

a {
  text-decoration: none;
  color: inherit;
}
